.p-center .container{
    padding-top: 30px;
    padding-bottom: 30px;
}
.theme{
    border: 1px solid #ebeef5;
    overflow: hidden;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
    border-radius: 4px;
    box-shadow: rgb(0 21 41 / 8%) 0 0 5px 2px;
}
.theme .info{
    border-top: 1px solid #ebeef5;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #4e637e;
}
.theme:hover{
    box-shadow: rgb(0 21 41 / 12%) 0px 0px 6px 3px;
}
.p-footer{
    margin-top: 0;
}