.p-center .container{
    padding-top: 30px;
    padding-bottom: 30px;
}
.theme{
    border: 1px solid #ebeef5;
    overflow: hidden;
    box-shadow: rgb(0 21 41 / 8%) 0 0 5px 2px;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
    border-radius: 4px;
    position: relative;
}
.theme .info{
    border-top: 1px solid #ebeef5;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #3c4858;
}
.theme:hover{
    box-shadow: rgb(0 21 41 / 12%) 0px 0px 6px 3px;
}
.p-footer{
    margin-top: 0;
}
.theme .img img, .plugin .img img{
    object-fit: cover;
}
.tip{
    position: absolute;
    left: 5px;
    background: #0000006e;
    color: white;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 5px;
    top: 5px;
}
.tip .fa{
    margin-right: 3px;
}